{% extends 'shop/base.html' %}
{% load static %}

{% block title %}Products{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="card mb-3">
        <div class="row">
            <div class="col-md-7 col-sm-12">
                <img src="{{ product.image.url }}" class="img-fluid rounded-start" alt="{{ product.name}}">
            </div>
            <div class="col-md-5 col-sm-12">
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <a class="nav-link px-0" href="{{ product.category.get_absolute_url }}"><p class="card-text">{{ product.category }}</p></a>
                    <p class="card-text">${{ product.price }}</p>
                    <p class="card-text">{{ product.description }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
    {% endblock %}