body {
    background: gray;
}

#banner{
    background: url("/static/imgs/banner3.jpg") 50% 0 no-repeat fixed;
    text-align: center;
    height: 600px;
    padding: 100px 0 0 0;  
    color: white;
}
/* #banner h1 {
    color:red;
} */
